In [ ]:
'''
author: Alexander Staub
Date: 2024-09-26
Description: Script to create a random sample of albums for Alessio to use to test the new Spotify code 
meant to scrap spotify audio charactersitics

'''

In [1]:
#install necessary packages

#library loading

import os
import pandas as pd
import json # to read json files

In [11]:
#set seed for reproducibility
import random
random.seed(42)

In [5]:
#set working director to music_data
# Get the current working directory
current_dir = os.getcwd()

#move working directory two levels down to "music_data" using os package
root_dir = os.path.abspath(os.path.join(current_dir, '..', '..'))

c:\Users\User\Documents\R_Work\research\music_data\code\data_creation

In [ ]:
#load the data sets of relevance

# Load the album data
file_path = r"Z:\Data_alexander\data\raw_data\musicbrainz\sql_exports\release_country_labels_80_10_w_artists.csv"
albums = pd.read_csv(file_path)

In [10]:
# Display the first few rows of the dataframe
albums.head()

,Unnamed: 0,id_release,date_year,date_month,date_day,id_country,name_country,name_label,name_label_type,mbid_release,name_release,name_release_g_type,id_artist_credit,artist_credit_name
0,1,1968996,2010,NaN,NaN,14,Austria,monkey.,Publisher,716787a0-b8e0-43fd-a056-c228015c1b75,Maximum Minisex,Album,245346,Minisex
1,2,1427936,2005,NaN,NaN,14,Austria,Non Visual Objects,Original Production,69020faf-0f54-463b-adc7-852ebb1b693c,Bradycard,Album,466986,Heribert Friedl
2,3,68494,1994,9.0,19.0,14,Austria,KOCH International,Production,fa29306e-b128-4e19-a9ac-f0256696a688,Im Namen der Liebe,Album,49605,Brunner & Brunner
3,4,97102,1997,NaN,NaN,14,Austria,KOCH International,Production,587ae7f9-7432-3aec-bc3c-4c9b0f474a63,Who Dominates Who?,Album,210470,Accu§er
4,5,116365,1989,NaN,NaN,14,Austria,Amadeo,Original Production,89c82c55-11ad-43a0-b67a-58d882b4654f,Liagn & lochn,Album,56009,Ostbahn Kurti & Die Chefpartie

In [8]:
# Load the recordings data
file_path_json = r"Z:\Data_alexander\data\raw_data\musicbrainz\sql_exports\release_recordings_unique_80_10_assembled.json"
recordings = pd.read_json(file_path_json, lines=True)

,id_release,name_medium_format,id_track,mbid_track,id_recording,mbid_recording,name_recording,id_artist_credit,name_artist_credit
0,1883217,CD,22013600,17764575-a0e8-4022-8f22-93bb94f18dde,20221611,3784ebf7-255a-45a0-9440-f0452e290350,''''''45'''''',288702,RUX
1,2463943,CD,28685956,0831ef12-d87e-4729-b4f7-7dd0054568b2,2910085,47aee22e-15ec-43df-a445-4145ebbb9ea9,"'''See'', Part 3",31548,Jeff Mills
2,5426,CD,12008677,fa9ce712-27da-320c-ac7c-157cf76095bc,2910085,47aee22e-15ec-43df-a445-4145ebbb9ea9,"'''See'', Part 3",31548,Jeff Mills
3,3441179,Digital Media,38533376,2454c48d-0ab0-4fe7-bce3-deaa8adbc715,8365292,5e37d8af-e5e2-4906-a24b-389f3bf68047,''... Another Tale Begins'',550466,David Buckley
4,431139,CD,7057013,7ef0d156-1f5e-34ff-b674-79e3623d248a,8365292,5e37d8af-e5e2-4906-a24b-389f3bf68047,''... Another Tale Begins'',550466,David Buckley

In [ ]:
# Display the first few rows of the dataframe
recordings.head()

In [12]:
#create the 300 random sample of albums
# Randomly select 300 lines from the albums dataframe
albums_300_sample = albums.sample(n=300)

# Display the first few rows of the sampled dataframe
albums_300_sample.head()

,Unnamed: 0,id_release,date_year,date_month,date_day,id_country,name_country,name_label,name_label_type,mbid_release,name_release,name_release_g_type,id_artist_credit,artist_credit_name
336950,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots
1005895,1005896,426258,2000,4.0,11.0,222,United States,Shanachie,Original Production,490e090a-dd5a-4ac6-8b92-4d793d2dea91,Little Wooden Box,Album,8624,Wayne Toups & Zydecajun
451980,451981,653065,1982,4.0,NaN,105,Italy,Warner Bros. Records,Imprint,ebb0706c-a1b7-33c3-8a48-f79626d59c0b,Big Science,Album,10298,Laurie Anderson
519181,519182,157383,2000,2.0,9.0,202,Sweden,EVA Records,Production,f47c615f-ca58-442c-bf87-ec81ce5a2733,Absolute Love 2000,Album,1,Various Artists
945545,945546,2765872,1996,NaN,NaN,222,United States,Relativity Records,Original Production,80976978-0f90-4ae0-b743-88404e6c7771,The Bitch in Yoo / The Real Weight,Single,2761957,NaN

In [16]:
#match the recordings information to the 300_albums information based on the "release_ID" column

# Select only the necessary columns from recordings and rename the column
recordings_subset = recordings[['id_release', 'name_recording', 'name_artist_credit']]
recordings_subset = recordings_subset.rename(columns={'name_artist_credit': 'name_artist_credit_recording'})

# Merge the dataframes on the ID_release column
albums_300_recordings_matched = pd.merge(albums_300_sample, recordings_subset, on='id_release', how='left')

# Display the first few rows of the matched dataframe
albums_300_recordings_matched.head()

,Unnamed: 0,id_release,date_year,date_month,date_day,id_country,name_country,name_label,name_label_type,mbid_release,name_release,name_release_g_type,id_artist_credit,artist_credit_name,name_recording,name_artist_credit_recording
0,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots,A Small Swan Song,Karolinek
1,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots,Bring the Rain,Artwork
2,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots,Bump (Ver 2),The Tear Garden
3,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots,Catchy Tune,Mimir
4,336951,9008,2001,NaN,NaN,222,United States,Beta-lactam Ring Records,Production,02a71e5d-0967-3e35-a271-b21f82a10d60,Kollabaris,Album,38426,The Legendary Pink Dots,Message 3,The Tear Garden

In [20]:
# remove duplicates from the dataframe
# Concatenate the columns "name_release" and "name_recording" to identify duplicates
albums_300_recordings_matched['combined'] = albums_300_recordings_matched['name_release'] + albums_300_recordings_matched['name_recording']

# Remove duplicates based on the concatenated column
albums_300_recordings_matched_clean = albums_300_recordings_matched.drop_duplicates(subset='combined')

# Drop the temporary concatenated column
albums_300_recordings_matched_clean = albums_300_recordings_matched_clean.drop(columns=['combined'])

In [21]:
# Assuming albums_300_recordings_matched_clean is already defined
# Create the first dataframe with 100 random lines
albums_300_recordings_matched_rand_100 = albums_300_recordings_matched_clean.sample(n=100, random_state=42)

# Create the second dataframe with 500 random lines
albums_300_recordings_matched_rand_500 = albums_300_recordings_matched_clean.sample(n=500, random_state=42)

# Create the third dataframe with 1500 random lines
albums_300_recordings_matched_rand_1500 = albums_300_recordings_matched_clean.sample(n=1500, random_state=42)

In [22]:
#save the random samples
file_path_1500 = r"Z:\Data_alexander\data\interim_data\24_09_random_300_album_recording_samples\albums_300_recordings_matched_rand_1500.csv"
file_path_100 = r"Z:\Data_alexander\data\interim_data\24_09_random_300_album_recording_samples\albums_300_recordings_matched_rand_100.csv"
file_path_500 = r"Z:\Data_alexander\data\interim_data\24_09_random_300_album_recording_samples\albums_300_recordings_matched_rand_500.csv"
file_path_full = r"Z:\Data_alexander\data\interim_data\24_09_random_300_album_recording_samples\albums_300_recordings_matched_rand_full.csv"

# Save the dataframes as CSV files
albums_300_recordings_matched_rand_100.to_csv(file_path_100, index=False)
albums_300_recordings_matched_rand_500.to_csv(file_path_500, index=False)
albums_300_recordings_matched_rand_1500.to_csv(file_path_1500, index=False)
albums_300_recordings_matched_clean.to_csv(file_path_full, index=False)